:root {
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #fff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--secondary-color);
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.link a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.newuser {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newuser .new_user a {
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.link a:hover {
    color: var(--primary-color);
}

.intro {
    background-image: url(Images/Constuction2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.intro h3 {
    margin-left: 10%;
    width: 80%;
    align-items: center;

}