<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jenga</title>
  </head>
  <body>
    <nav class="nav">
      <img src="./Images/logo.jpg" alt="logo" />
      <ul>
        <div class="nav-items">
          <li><a href="#"></a> Contracts</li>
          <li><a href="#"></a> Contractors</li>
          <li><a href="#"></a> Buy supplises</li>
          <li><a href="/about.html"></a>About</li>
          <li><a href="/contact.html">Contact Us</a></li>
        </div>
      </ul>
      <div>
        <button class="sign-btn">Sign Up</button>
        <button class="login-btn">Sign In</button>
      </div>
    </nav>
    <section class="landing">
        <h2>
          <b>Jenga</b>
          <hr />
          Where construction dreams meet reality! Whether you're a homeowner
          embarking on a renovation project or a contractor seeking exciting
          opportunities, our platform is your one-stop destination.
        </h2>
        <img src="./Images/image1.jpg" alt="" />
      </section>
      <section class="about_us">
        <div>
          <h3>About Us</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            excepturi ratione ipsa reiciendis dolorem illo optio praesentium
            commodi rem nam temporibus itaque sit tempore aspernatur porro vitae
            eos numquam cupiditate, ut, dignissimos consequatur laboriosam sunt?
            Quis non recusandae odit voluptate accusamus quasi animi. Alias
            laudantium beatae ullam incidunt dicta laborum architecto, magnam fuga
            quibusdam non?
          </p>
          <a href="#">About Us</a>
        </div>
        <img src="./Images/image2.jpg" alt="Photo" />
      </section>
      <section class="services">
        <h3>Available Contracts</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
          assumenda accusantium aperiam eaque accusamus. Distinctio minima
          doloribus magnam libero dignissimos vel ipsa accusamus delectus totam?
          Distinctio, modi inventore accusamus eveniet perferendis, ullam
          consectetur accusantium dicta dolorem nam alias qui, cumque excepturi
          numquam. <br />
          Saepe praesentium hic aliquam rerum magni at repellendus sed eius
          eligendi, quaerat tempore dolor voluptas minus? Dolores repudiandae
          ipsa, sed magni doloremque iure labore rem cumque beatae recusandae
          officia est non voluptatum minima.
        </p>
  </body>
</html>
