{% block content %}
<nav class="nav">
  <img src="./Images/logo.jpg" alt="logo" />
  <ul>
    <div class="nav-items">
      <li><a href="#"></a> Contracts</li>
      <li><a href="#"></a> Contractors</li>
      <li><a href="#"></a> Buy supplises</li>
      <li><a href="/about.html"></a>About</li>
      <li><a href="/contact.html">Contact Us</a></li>
    </div>
  </ul>
  <div>
    <button class="sign-btn">Sign Up</button>
    <button class="login-btn">Sign In</button>
  </div>
</nav>
{% endblock %}