:root {
  font-family: "Poppins", sans-serif;
  background-color: rgb(228, 222, 222);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1277;
  background-color: rgb(59, 59, 59);
  padding: 0.25 rem 2rem;
  border-radius: 1rem;
  color: white;
}

.nav img {
  height: 3rem;
  width: 3rem;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.nav-items li:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.sign-btn,
.login-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-weight: bold;
}

.login-btn {
  background-color: rgb(66, 241, 247);
}

.landing {
  height: 71vh;
  margin: auto;
  position: relative;
  /* max-width: 1277px; */
}

.landing img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.landing h1,
h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba(17, 15, 15, 0.315);
  text-align: center;
}

.about_us {
  margin: 2rem auto;
  display: flex;
  /* gap: 2rem; */
  align-items: center;
  width: 85%;
}

.about_us div {
  width: 47%;
  margin: auto;
}

.about_us img {
  height: 25rem;
  border-radius: 1rem;
  width: 47%;
}

.services {
  padding-top: 2rem;
  max-width: 90%;
  margin: auto;
}

.services h3 {
  text-align: center;
  align-items: center;
}

.services p {
  width: 70%;
  margin: auto;
}

.services img {
  height: 15rem;
  border-radius: 1.5rem;
}

.services ul {
  width: 90%;
  margin: auto;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  scrollbar-width: none;
  overflow-x: auto;
  -ms-overflow-style: none;
}

.affirmation {
  width: 50%;
  margin: auto;
  text-align: center;
}

.more {
}

.Partners {
  width: 60%;
  margin: auto;
  align-items: center;
}
.Partners ul {
  margin: auto;
  display: flex;
  gap: 1rem;
}

.Partners li {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
}
.Partners img {
  height: 45px;
  border-radius: 0.5px;
}
